body {
	background: url( ../images/main-bg.png );
	background-attachment: fixed;
	font-family: Arial;
	font-size: 12px;
}

.main_wrap {
	background-color: #fff;
	width: 1024px;
	margin: 0px auto;
	border: 1px solid #c7becf;
	box-shadow: 5px 5px 10px #f0f0f0;
	height: 2000px;
}

.header {
	display: inline-block;
}

.logo {
	width: 300px;
	height: 97px;
	background: url( ../images/logo.png );
	float: left;
	opacity: .7;
	cursor: pointer;
}

.logo:hover {
	opacity: 1;
}


/* CONTACTS */
.contacts {
	width: 560px;
	height: 97px;
	float: left;
}

/* LANGUAGES */
.mod_Lang {
	float: left;
	width: 150px;
	height: 97px;
	display: inline-block;
	text-align: right;
}

.mod_Lang .l_flag {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: .4;
	margin-left: 10px;
	margin-top: 10px;
}

.mod_Lang .l_flag:hover {
	opacity: 1;
}

.mod_Lang .l_flag.selected {
	opacity: 1;
}

.mod_Lang .l_flag_us {
	background: url( ../images/flags/United-States.png );
	background-size: 40px;
}

.mod_Lang .l_flag_ua {
	background: url( ../images/flags/Ukraine.png );
	background-size: 40px;
}

.mod_Lang .l_flag_ru {
	background: url( ../images/flags/Russia.png );
	background-size: 40px;
}

.mod_Lang span {
	color: #8C69AA;
}

