/*
	ZMK Styles
	By Zerg 2014
*/

/* Main menu */

.zmk_menu {
	width: 100%;
	height: 40px;
	margin-top: 3px;
}

.zmk_menu ul {
	display: inline;
}

.zmk_menu ul li {
	float: left;
	line-height: 40px;
	background-color: #4f4a86;
	width: 142px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	border-right: 4px solid #fff8ff;
}

.zmk_menu ul li:last-child {
	width: 148px;
	border: none;
}

.zmk_menu ul li:hover {
	background-color: #2DA532;
}

.zmk_menu ul li.active {
	background-color: #2DA532;
}

/* Mode panel*/
.zmk_modes {
	margin-top: 25px;
	/*padding: 10px;*/
	height: 700px;
	/*background-color: #fff8ff;*/
}

.zmode_content {
	margin-top: 4px;
}

.zmode_title span {
	font-size: 26px;
	color: #707070;
}

.left-side {
	float: left;
	width: 540px;
}

.right-side {
	float: right;
	padding: 10px;
	width: 460px;
}

/* Slider */
#zmkSlider {
	position: absolute;
	top: 5px;
	right: 5px;
}

#zmk_workplace_wrapper {
	position: absolute;
	top: 64px;
	width: 520px;
	height: 700px;
	box-shadow: 1px 5px 15px 5px;
	border: 10px solid #fff;
	overflow: hidden;
}

.empty_model_container {
	margin: 50% auto;
	width: 50%;
	text-align: center;
	font-size: 30px;
	color: #c0c0c0;
	border: 5px dashed #c0c0c0;
	padding: 30px;
	border-radius: 20px;
	cursor: pointer;
}

/* LOADING MASK */
#makels_loading_mask_wrapper {
	width: 100%;
	text-align: center;
	position: absolute;
	height: 720px;
	top: 0px;
	left: 0px;
}

#makels_loading_mask {
	width: 100%;
	position: absolute;
	height: 720px;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	opacity: 0.7;
}

#makels_loading_mask_wrapper img {
	z-index: 999;
	position: absolute;
	margin-left: -32px;
	margin-top: 50%;
}

#makels_loading_mask_wrapper span {
	z-index: 999;
	font-size: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: 65%;
	top: 0px;
	left: 0px;
}

/* WEB Cam*/
.photobooth {
	width: 520px !important;
	height: 700px !important;
}

.photobooth canvas {
	width: 1000px !important;
	height: 720px !important;	
}

/* MODEL MANAGER */
#model_manager_wrapper {
	position: absolute;
	bottom: 20px;
	width: 70%;
	height: 50px;
	background-color: #fff;
	margin: 0 10%;
	opacity: .5;
	border-radius: 20px;
	line-height: 50px;
	border: 1px solid #c0c0c0;
	box-shadow: 1px 1px 15px 5px #c0c0c0;
	padding: 0 20px;
}

.model_rect {
	position: absolute;
	border: 3px solid;
}
