/*
	ZMK Styles
	By Zerg 2014
*/

/* Main menu */

.zmk_menu {
	width: 100%;
	height: 40px;
	margin-top: 3px;
}

.zmk_menu ul {
	display: inline;
}

.zmk_menu ul li {
	float: left;
	line-height: 40px;
	background-color: #4f4a86;
	width: 142px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	border-right: 4px solid #fff8ff;
}

.zmk_menu ul li:last-child {
	width: 148px;
	border: none;
}

.zmk_menu ul li:hover {
	background-color: #2DA532;
}

.zmk_menu ul li.active {
	background-color: #2DA532;
}

/* Mode panel*/
.zmk_modes {
	/*margin-top: 5px;*/
	/*padding: 10px;*/
	height: 700px;
	/*background-color: #fff8ff;*/
}

.zmode_content {
	margin-top: 4px;
}

.zmode_title span {
	font-size: 26px;
	color: #707070;
}

.left-side {
	float: left;
	width: 540px;
}

.right-side {
	float: right;
	padding: 10px;
	width: 460px;
}

/* Slider */
#zmkSlider {
	position: absolute;
	top: 5px;
	right: 5px;
}